ol li {
    background-color: yellow;
}
ol li:nth-child(even) {
    color: green;
}
ol li:nth-child(odd) {
    text-transform: uppercase;
}

h1, h2, h3 {
    color: red;
}
h1 em, h2 em, h3 em {
    font-size: 40px;
    border: 1px black solid;
}

li {
    font-size: 20px;
}
li em {
    font-weight: bold;
}

#linguagem li:not(:nth-child(n + 4)) {
    color: blue;
}
#linguagem li:not(:first-child, :nth-child(n + 4)) {
    background-color: pink;
}
#aliados:hover {

}